<nav class="android-navigation mdl-navigation">
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Incio</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Servicios</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Nosotros</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Locales</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Reservas</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Ayuda</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Informaciones</a>
</nav>